{
  "env": {
    "development": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-runtime"
      ]
    },
    "live": {
      "presets": [
        "env",
        "react"
      ]
    }
  }
}
